.products-page {
  width: 100%;
  background: #fff;
  color: #000;
}

/* HERO */
.products-hero {
  text-align: center;
  padding: 120px 20px 80px;
}

.products-hero h1 {
  font-size: 64px;
  letter-spacing: 6px;
  font-weight: 500;
}

.products-hero p {
  margin-top: 14px;
  color: #777;
  font-size: 14px;
}


/* LIST */
.products-list {
  max-width: 1200px;
  margin: 0 auto 120px;
  padding: 0 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

/* CARD */
.product-card {
  text-align: center;
}

.product-img {
  overflow: hidden;
}

.product-img img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.product-card:hover img {
  transform: scale(1.08);
}

.product-info {
  padding: 20px 10px;
}

.product-info h3 {
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.product-info p {
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

.product-info button {
  background: transparent;
  border: 1px solid #000;
  padding: 10px 26px;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.product-info button:hover {
  background: #000;
  color: #fff;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .products-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .products-hero h1 {
    font-size: 42px;
  }

  .products-list {
    grid-template-columns: 1fr;
  }

  .product-img img {
    height: 360px;
  }
}

