/* ================= PAGE BANNER ================= */
.page-banner {
  width: 100%;
  margin: 32px 0;
  padding: 24px 16px;

  background: linear-gradient(135deg, #f7b7c8, #e89cb4);
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  border-radius: 16px;
  text-align: center;
}

.page-banner h1 {
  font-size: 20px;
  font-weight: 600;
}

.page-banner button {
  width: 100%;
  max-width: 260px;
  height: 46px;

  border-radius: 999px;
  border: none;

  background: #fff;
  color: #d88aa6;
  font-size: 15px;
  font-weight: 600;
}


.page-banner button:hover {
  background-color: #fdf1f5;
  transform: translateY(-2px);
}
@media (min-width: 992px) {
  .page-banner {
    max-width: 1200px;
    margin: 60px auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    height: 110px;
    border-radius: 24px;
    text-align: left;
  }

  .page-banner h1 {
    font-size: 26px;
  }

  .page-banner button {
    width: 180px;
  }
}
